In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
dataset.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [24]:
dataset = pd.get_dummies(dataset,  drop_first=True).astype(int)
dataset

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27,0,16884,0,1,0,0,1
1,18,33,1,1725,1,0,0,1,0
2,28,33,3,4449,1,0,0,1,0
3,33,22,0,21984,1,0,1,0,0
4,32,28,0,3866,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30,3,10600,1,0,1,0,0
1334,18,31,0,2205,0,0,0,0,0
1335,18,36,0,1629,0,0,0,1,0
1336,21,25,0,2007,0,0,0,0,1
1337,61,29,0,29141,0,1,1,0,0

In [25]:
independent = dataset.drop('charges',axis=1) 
dependent = dataset['charges']

In [35]:
independent.columns

Index(['age', 'bmi', 'children', 'sex_male', 'smoker_yes', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

In [26]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression

In [27]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

regressor = LinearRegression()

# Perform cross-validation
scores = cross_val_score(regressor,independent, dependent, cv=kf)

In [28]:
print(scores)

[0.78378884 0.73733529 0.79564364 0.63209992 0.75177871]

In [29]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# X_scaled = scaler.fit_transform(independent)  # X is your features

In [30]:
for i, (train_index, test_index) in enumerate(kf.split(independent)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

Fold 0:
  Train: index=[   0    1    2 ... 1335 1336 1337]
  Test:  index=[  23   29   31   32   43   44   48   49   51   54   56   58   63   65
   70   76   78   81   86  101  107  109  113  115  123  128  155  163
  168  174  175  184  192  196  198  208  210  218  220  221  231  233
  237  239  240  243  244  247  254  259  261  265  270  275  286  289
  291  296  297  298  303  306  309  312  331  344  346  350  351  352
  353  358  361  363  365  367  370  371  374  394  398  405  410  413
  415  422  427  428  429  430  438  447  461  462  464  478  494  506
  513  522  534  535  538  542  543  551  552  561  566  567  570  572
  575  581  585  591  594  597  598  599  605  610  614  615  617  618
  622  629  636  650  654  660  661  664  665  670  678  700  707  708
  710  712  715  721  739  741  744  752  755  764  765  770  774  777
  778  780  781  788  792  793  796  798  806  808  817  818  832  838
  846  849  850  855  858  868  869  875  881  885  887  888  890  893
  894  899  900  901  903  904  906  916  919  925  930  931  945  952
  974  976  979  988  999 1015 1024 1032 1039 1043 1047 1048 1052 1055
 1067 1073 1074 1078 1083 1092 1097 1098 1108 1114 1118 1119 1122 1127
 1133 1135 1137 1143 1149 1167 1171 1175 1176 1182 1192 1202 1209 1212
 1221 1227 1228 1235 1242 1246 1249 1253 1256 1263 1270 1271 1274 1280
 1286 1293 1296 1298 1299 1302 1303 1309 1312 1314 1316 1321 1322 1323
 1324 1327]
Fold 1:
  Train: index=[   0    1    4 ... 1335 1336 1337]
  Test:  index=[   2    3    5    6   10   12   27   30   39   59   66   67   83   88
   96  100  111  129  135  136  138  139  140  141  147  156  158  170
  171  178  199  209  211  215  224  227  242  256  260  266  273  274
  277  282  285  287  290  292  294  299  308  310  311  314  316  318
  319  321  322  323  325  327  328  332  333  339  342  348  354  355
  362  376  377  380  381  382  390  409  411  420  423  424  425  432
  433  435  439  442  451  453  458  467  471  477  479  481  482  485
  486  490  493  497  503  514  526  527  528  529  532  536  548  549
  553  554  558  560  573  578  579  582  583  584  588  589  590  602
  613  620  621  624  626  630  631  634  643  644  651  672  673  676
  679  680  682  693  695  701  705  706  714  716  720  723  730  731
  736  737  745  746  754  759  762  772  785  787  802  803  807  809
  810  811  823  824  828  842  844  847  857  859  862  867  872  889
  892  908  914  915  921  922  926  932  933  939  944  946  947  966
  969  984  986  987  990  993 1005 1007 1008 1010 1022 1026 1030 1033
 1034 1035 1037 1046 1057 1062 1075 1079 1085 1090 1093 1094 1103 1106
 1111 1113 1115 1117 1128 1140 1141 1142 1148 1151 1155 1158 1159 1161
 1163 1173 1185 1188 1197 1198 1201 1204 1205 1207 1219 1224 1232 1240
 1243 1251 1264 1268 1277 1283 1285 1290 1295 1297 1311 1320 1328 1330
 1333 1334]
Fold 2:
  Train: index=[   1    2    3 ... 1334 1336 1337]
  Test:  index=[   0    7    9   24   25   28   33   38   41   45   47   55   60   62
   69   71   72   73   77   79   80   82   84   90   92   94   97  104
  106  108  110  118  120  125  131  132  133  137  142  144  145  148
  162  164  165  169  172  173  177  181  182  183  185  193  194  204
  212  213  214  223  226  228  234  235  238  248  249  250  251  255
  258  280  281  300  302  305  307  326  329  334  336  338  347  357
  359  360  364  366  372  373  386  388  389  404  408  414  421  436
  440  445  448  449  450  457  460  465  468  475  480  483  491  495
  499  501  504  505  507  516  518  519  523  525  530  531  533  539
  541  545  557  568  587  593  596  609  628  638  649  652  657  666
  667  668  671  677  692  697  704  711  713  718  722  724  727  732
  743  756  767  771  783  799  812  813  814  816  820  826  839  843
  845  852  861  864  873  879  882  886  898  909  910  912  918  924
  934  936  938  940  941  942  948  949  953  958  962  963  964  965
  967  968  970  978  982  985  996  997  998 1001 1004 1006 1011 1013
 1029 1031 1036 1041 1042 1054 1058 1068 1070 1081 1087 1088 1089 1096
 1099 1101 1102 1105 1107 1121 1132 1134 1144 1146 1150 1165 1166 1168
 1169 1186 1193 1196 1203 1213 1216 1220 1234 1237 1244 1245 1247 1250
 1266 1269 1273 1275 1278 1284 1287 1288 1289 1291 1306 1308 1319 1329
 1331 1335]
Fold 3:
  Train: index=[   0    1    2 ... 1333 1334 1335]
  Test:  index=[   4   11   15   17   18   19   22   35   36   42   46   50   52   57
   61   68   74   75   85   89   93   99  102  105  114  116  117  119
  124  126  127  149  153  154  159  167  176  179  180  188  190  191
  195  203  217  222  232  236  245  257  263  264  267  268  271  272
  278  284  301  304  313  320  324  335  340  341  349  356  368  369
  375  383  393  395  396  399  407  412  416  417  419  426  431  434
  443  444  446  454  456  470  473  487  489  496  498  500  511  512
  515  517  521  537  544  547  555  559  569  571  574  576  580  595
  601  603  604  606  607  611  616  619  625  633  635  637  653  655
  656  662  669  674  675  684  685  688  689  690  691  694  696  703
  717  726  728  733  734  735  738  740  750  753  757  758  760  761
  768  773  782  784  786  789  790  801  819  822  825  827  829  830
  833  834  836  837  841  848  851  853  865  866  874  876  884  895
  902  905  907  911  917  920  923  927  935  937  943  950  961  971
  973  977  980  983  989  991  992  994 1000 1002 1003 1009 1018 1023
 1027 1040 1049 1050 1053 1061 1063 1065 1066 1077 1080 1084 1091 1110
 1112 1116 1131 1139 1156 1157 1164 1170 1174 1177 1178 1179 1181 1189
 1190 1191 1195 1199 1200 1206 1211 1214 1222 1223 1230 1233 1241 1254
 1255 1258 1259 1276 1281 1282 1292 1307 1310 1313 1317 1326 1332 1336
 1337]
Fold 4:
  Train: index=[   0    2    3 ... 1335 1336 1337]
  Test:  index=[   1    8   13   14   16   20   21   26   34   37   40   53   64   87
   91   95   98  103  112  121  122  130  134  143  146  150  151  152
  157  160  161  166  186  187  189  197  200  201  202  205  206  207
  216  219  225  229  230  241  246  252  253  262  269  276  279  283
  288  293  295  315  317  330  337  343  345  378  379  384  385  387
  391  392  397  400  401  402  403  406  418  437  441  452  455  459
  463  466  469  472  474  476  484  488  492  502  508  509  510  520
  524  540  546  550  556  562  563  564  565  577  586  592  600  608
  612  623  627  632  639  640  641  642  645  646  647  648  658  659
  663  681  683  686  687  698  699  702  709  719  725  729  742  747
  748  749  751  763  766  769  775  776  779  791  794  795  797  800
  804  805  815  821  831  835  840  854  856  860  863  870  871  877
  878  880  883  891  896  897  913  928  929  951  954  955  956  957
  959  960  972  975  981  995 1012 1014 1016 1017 1019 1020 1021 1025
 1028 1038 1044 1045 1051 1056 1059 1060 1064 1069 1071 1072 1076 1082
 1086 1095 1100 1104 1109 1120 1123 1124 1125 1126 1129 1130 1136 1138
 1145 1147 1152 1153 1154 1160 1162 1172 1180 1183 1184 1187 1194 1208
 1210 1215 1217 1218 1225 1226 1229 1231 1236 1238 1239 1248 1252 1257
 1260 1261 1262 1265 1267 1272 1279 1294 1300 1301 1304 1305 1315 1318
 1325]

In [31]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

In [32]:
for i, (train_index, test_index) in enumerate(kf.split(independent)):
    X_train, X_test = independent.iloc[train_index], independent.iloc[test_index]
    y_train, y_test = dependent.iloc[train_index], dependent.iloc[test_index]

    regressor.fit(X_train, y_train)
    preds = regressor.predict(X_test)

    rmse = np.sqrt(mean_squared_error(y_test, preds))
    r2 = r2_score(y_test, preds)

    print(f"Fold {i + 1}: RMSE = {rmse:.3f}, R² = {r2:.3f}")

Fold 1: RMSE = 5793.655, R² = 0.784
Fold 2: RMSE = 6127.096, R² = 0.737
Fold 3: RMSE = 5782.922, R² = 0.796
Fold 4: RMSE = 6449.611, R² = 0.632
Fold 5: RMSE = 6234.856, R² = 0.752

In [33]:
X_train.shape

(1071, 8)

In [34]:
y_test.shape

(267,)

In [21]:
from sklearn.metrics import mean_squared_error, r2_score
rmse = np.sqrt(mean_squared_error(y_test, preds))
r2 = r2_score(y_test, preds)
r2

0.7513153262752835

In [37]:
s = regressor.predict([[19,27,0,0,1,0,0,1]])
s

C:\Users\jsril\anaconda3\envs\numpy_env\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24888.94702071])